body{
    font-weight: bold;
    font-size: larger;
    text-align: center;
    margin-top: 10%;
}
.button{
  color: rgb(14, 13, 13);
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 2%;
}