body{
    font-weight: bold;
    font-size: larger;
    text-align: center;
    
    background-color:   #007bff;
}


  
  img{
    width: 150px;
  }
  .btn-primary {
  border-color: #020202;
  width: 100%;
}
.navbar-nav{
  flex-direction: row;
  margin: 0 auto;
  
}
.row{
  margin: 0 ;
  background-color: #f7c900;
  border: none;
  outline: 2px solid #020202;

}
#clear{

  display: none;
}


#put{
  color: #fff;
  background-color: #007bff;
  border:2px solid#020202;
  margin: 2px;
  width: 62px;
  
}
.marco{
  background-color: #f7c900;
  width: 98.4%;
  margin: 0 auto;
  margin-top: 1%;
  padding: 0.5%;
  outline: 2px solid #020202;
}
.navbar{
  background-color: #007bff;
}
#btnSearch{
  background-color: #007bff;
  color: #fff;
  border:2px solid#020202;
  margin: 2px;
}
.modal-content{
  background-color:#043f80;
  color: #fff;;
  border:2px solid#020202;
}
.navbar-toggler-icon{
  border:2px solid#020202;
  background-color: #f7c900;
 
}
.navbar-toggler{

  border: 2px solid;
}
.modal-title{
  color: #fff;
}
.btn-secondary {
  color: #fff;
  background-color:#043f80 ;
  border-color: #fff;
}
h5{
  Font-weight: 1000;
}
#modalRow{
  background-color: #a08302;
  border: #fff;
}
.showSearch{
  margin: 7px;
}